
projects{
    background-color:var($colorbrand-1);

}

.col-md-4{
    background-color: var($colorwhwite) 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 20px;
   opacity: 1;
    
   .card{
    background:var($colorwhwite);
    border-radius: 20px 20px 0px 0px;
    opacity: 1;}


   }

.card-img-top{
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 20px 20px 0px 0px;
    opacity: 1;}
